/* Private css styles */
.tasks{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.tasks li{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.tasks li:hover{
    color: #607d8b;
    background-color: #DDD;
    left: .1em;
}
.tasks li.selected{
    background-color: #cdd8dc;
    color: white;
}
.tasks li.selected:hover{
    background-color: #bbd8dc;
}
.tasks .badge{
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}