/* You can add global styles to this file, and also import other style files */
h1 {
    color: rgb(23, 84, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

body{
    margin: 2em;
}

body, input[type="text"], button {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}